<!-- General Data Component -->
<div class="tab-panel rounded">

	<div class="w3-theme-l1 input-panel">
		<form>
			<div class="row">

				<div class="col-sm-6 form-group">
					<label>ID: </label> <input class="form-control" value="{{currentNodeType.id}}" disabled>
				</div>

				<div class="col-sm-6 form-group">
					<label for="nameNodeType">Name: </label> <input disabled #nameNodeType type="text" class="form-control" value="{{currentNodeType.name}}" required>
				</div>


				<div class="col-sm-4 form-group">
					<label for="icon">Icon Path: </label> <input class="  form-control" #icon value="{{currentNodeType.icon}}" disabled />
				</div>

				<div class="col-sm-2 form-group">
					<label>Icon View: </label> <img class=" form-control w3-right icon" src="{{currentNodeType.icon}}" />
				</div>

				<div class="col-sm-6 form-group">
					<label>Repository ID: </label> <input class="form-control col-sm-5" value="{{currentNodeType.repositoryId}}" disabled>
					<button class="w3-blue col-sm-1 btn w3-right" type="button" routerLink="/dashboard/repository" [queryParams]="{id: currentNodeType.repositoryId}">
						<i class="fa fa-eye" aria-hidden="true"></i>
					</button>
				</div>
			</div>

		</form>
	</div>

</div>