<!-- General Data Component -->
<div class="tab-panel rounded">

	<div class="w3-theme-l1 input-panel" id="createNodeTypeFieldsArea">
		<form #updateNodeTypeForm="ngForm">
			<div class="row">
			
			<div class="col-sm-6 form-group">
				<label>ID: </label> <input class="form-control" value="{{currentNodeType.id}}" disabled>
			</div>
			
			<div class="col-sm-6 form-group">
				<label for="nameNodeType">Name: </label> <input disabled #nameNodeType="ngModel" name="name" [(ngModel)]="currentNodeType.name" #nameNodeType type="text"
					class="form-control" id="nameNodeType" value="{{currentNodeType.name}}" required>
				<div *ngIf="nameNodeType.errors && (nameNodeType.dirty || nameNodeType.touched)" class="alert alert-danger">
					<div [hidden]="!nameNodeType.errors.required">Name is required</div>

				</div>
			</div>

			<div class="col-sm-4 form-group">
				<label for="icon">Icon Path: </label> <input class="  form-control" #icon value="{{currentNodeType.icon}}" disabled /> <!-- <input
					class="  form-control" #icon type="file" ng2FileSelect [uploader]="uploader" />-->
			</div>
			<div class="col-sm-2 form-group">
				<label>Icon View: </label> <img class=" form-control w3-right icon" src="{{currentNodeType.icon}}" />
			</div>
		</div>
				<!--  <button type="submit" class=" btn btn-success" [disabled]="!updateNodeTypeForm.form.valid" (click)="updateNodeType()">Update</button>
			-->
		</form>
	</div>

</div>