<div id="level_graph_tool" class="container-fluid w3-theme-l3">

	<div class="row">

		<div class="col-sm-12 w3-theme-d3 w3-card-4" style="margin-bottom: 0px;">
			<H3 class="col-sm-5">Level-Graph Name: {{currentTopologyTemplateName}}</H3>
			<H3 class="col-sm-5">Level-Graph ID: {{currentTopologyTemplateId}}</H3>
			<button class=" w3-theme-d1 btn btn-primary w3-right" type="button" data-toggle="collapse" data-target="#control_level_graph_tool"
				aria-expanded="false" aria-controls="control_level_graph_tool">
				<i class="fa fa-caret-down w3-right" aria-hidden="true"></i>
			</button>

		</div>

		<div style="margin-top: 0px;" id="control_topology_template_tool" class="col-sm-12 w3-card-4 w3-theme collapse"></div>

		<div id="toolbox_area" class="w3-card-4 col-sm-2 w3-theme" style="margin: 0px; padding: 10px; margin-top: 10px;">

			<h5 style="width: 100% w3-theme-d4">Toolbox</h5>
			<div class="toolbox_group" style="margin: 0px; margin-top: 5px; padding: 0px; width: 100%"></div>

			<hr>

			<div class="toolbox_group" style="margin: 0px; margin-top: 5px; padding: 0px; width: 100%"></div>

			<hr>

			<div id="toolbox_group" style="margin: 0px; padding: 0px; width: 100%"></div>

			<div class=" toolbox_group" style="margin: 0px; padding: 0px; width: 100%"></div>

			<div class="toolbox_group" style="margin: 0px; margin-top: 5px; padding: 0px; width: 100%"></div>

			<hr>

		</div>

		<div id="draw_area" class="col-sm-10 w3-theme-l5 scroll-panel" style="overflow: scroll; height: 800px;">

			<svg id="parent">
				
			
				
				
           </svg>

		</div>

	</div>

</div>

