<div id="level_graph_tool" class="container-fluid w3-theme-l3">

<!-- 	<div class="row">

		<div class="col-sm-12 w3-theme-d3 w3-card-4" style="margin-bottom: 0px;">
			<H3 class="col-sm-5">Level-Graph Name: {{currentLevelGraphName}}</H3>
			<H3 class="col-sm-5">Level-Graph ID: {{currentLevelGraphId}}</H3>
			<button class=" w3-theme-d1 btn btn-primary w3-right" type="button" data-toggle="collapse" data-target="#control_level_graph_tool"
				aria-expanded="false" aria-controls="control_level_graph_tool">
				<i class="fa fa-caret-down w3-right" aria-hidden="true"></i>
			</button>

		</div>

		<div style="margin-top: 0px;" id="control_level_graph_tool" class="col-sm-12 w3-card-4 w3-theme collapse">

			<div id="control_number_of_levels" class=" col-sm-4 w3-theme-l2 ">

				<div class="form-inline">

					<label for="number_of_levels">Number of Levels:</label>

					<button class=" w3-right">
						<i class="fa fa-plus" aria-hidden="true" (click)=addLevel()></i>
					</button>
					<input readonly style="width: 100px" id="number_of_levels" type="number" class="w3-center w3-right"
						value="{{currentLevelGraph.getNumberOfLevels()}}" min="1" max="5">
					<button class=" w3-right">
						<i class="fa fa-minus" aria-hidden="true" (click)=removeLevel()></i>
					</button>

				</div>
				<label>Displayed Levels:</label>
				<div class="form-group w3-light-grey" style="overflow: scroll; height: 150px;">

					<label *ngFor="let level of currentLevelGraph.levels" class="form-control"> <input type="checkbox" name="levels"
						[(ngModel)]="level.checked" value="{{level.id}}" (click)="onShowLevel(level)" /> {{level.name}}
					</label>
				</div>

			</div>

			<div id="control_displayed_relationTypes" class="col-sm-4 form-group w3-light-grey w3-theme-l2">
				<label>Displayed Level-Graph RelationTypes:</label> <label *ngFor="let levelGraphRelationType of levelGraphRelationTypes " class="form-control">
					<input type="checkbox" name="levelGraphRelationTypes" [(ngModel)]="levelGraphRelationType.checked" value={{levelGraphRelationType.id}} />
					{{levelGraphRelationType.name}}
				</label>

			</div>

		</div>

		<div id="toolbox_area" class="w3-card-4 col-sm-2 w3-theme" style="margin: 0px; padding: 10px; margin-top: 10px;">

			<h5 style="width: 100% w3-theme-d4">Toolbox</h5>
			<div class="toolbox_group" style="margin: 0px; margin-top: 5px; padding: 0px; width: 100%">

				<ul *ngFor="let tool of toolList">
					<li><input type="radio" name="radiogroup" [checked]="tool.checked" (click)="changeTool(tool)" value="{{tool.name}}">{{tool.name}}</li>
				</ul>

			</div>

			<hr>

			<div class="toolbox_group" style="margin: 0px; margin-top: 5px; padding: 0px; width: 100%">

				<button style="width: 100%" class="w3-theme-d2 w3-border-brown btn btn-primary" type="button" data-toggle="collapse"
					data-target="#toolbox_level_graph_nodes" aria-expanded="false" aria-controls="toolbox_level_graph_nodes">
					Level Graph Nodes<i class="fa fa-caret-down w3-right" aria-hidden="true"></i>
				</button>

				<div class="collapse" id="toolbox_level_graph_nodes" style="margin: 0px; padding: 0px; width: 100%">
					<ul style="padding: 5px" id="levelGraphSpezialNodeList" class="  list-group">
						<li class="fragmentType w3-round" draggable="true" *ngFor="let fragmentType of levelGraphNodeTypes"
							(drag)="onDrag($event, fragmentType, 'FragmentNode')" (dragover)="onDragOver($event)"><img src="http://lorempixum.com/100/100/nature/1" />
							<h3>Fragment Node</h3></li>
					</ul>
				</div>

			</div>

			<hr>


			<div id="toolbox_group" style="margin: 0px; padding: 0px; width: 100%">


				<div class="dropdown">
					<label>Selected Repository:</label>
					<button style="width: 100%" class=" w3-theme-d2 btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{selectedRepository.name}}

					</button>

					<ul class="dropdown-menu">
						<li class="repositoryListItem" *ngFor="let repository of repositories" (click)="onSelectRepository(repository.id)">{{ repository.name }}</li>
					</ul>

				</div>

			</div>

			<div class=" toolbox_group" style="margin: 0px; padding: 0px; width: 100%">

				<button style="width: 100%" class="w3-theme-d2 w3-border-brown btn btn-primary" type="button" data-toggle="collapse" data-target="#toolbox_nodes"
					aria-expanded="false" aria-controls="toolbox_nodes">
					NodeTypes<i class="fa fa-caret-down w3-right" aria-hidden="true"></i>
				</button>

				<div class="  collapse toolbox" id="toolbox_nodes" style="margin: 0px; padding: 0px; width: 100%">
					<ul style="padding: 5px" id="nodeTypesList" class=" list-group">

						<li class="nodeType w3-round" draggable="true" *ngFor="let nodeType of selectedRepository.nodeTypeList"
							(drag)="onDrag($event, nodeType, 'NodeType')" (dragover)="onDragOver($event)"><img src="http://lorempixum.com/100/100/nature/1" />
							<h3>{{nodeType.name}}</h3></li>

					</ul>
				</div>
			</div>

			<div class="toolbox_group" style="margin: 0px; margin-top: 5px; padding: 0px; width: 100%">

				<button style="width: 100%" class="w3-theme-d2 w3-border-brown btn btn-primary" type="button" data-toggle="collapse"
					data-target="#toolbox_relations" aria-expanded="false" aria-controls="toolbox_relations">
					RelationTypes<i class="fa fa-caret-down w3-right" aria-hidden="true"></i>
				</button>

				<div class="collapse toolbox" id="toolbox_relations" style="margin: 0px; padding: 0px; width: 100%">
					<ul style="padding: 5px" id="relationTypesList" class="  list-group">
						<li class="relationType w3-round" draggable="true" *ngFor="let relationshipType of selectedRepository.relationshipTypeList"
							(drag)="onDrag($event, relationshipType, 'RelationshipType')" (dragover)="onDragOver($event)"><img
							src="http://lorempixum.com/100/100/nature/1" />
							<h3>{{relationshipType.name}}</h3></li>
					</ul>
				</div>

			</div>

			<hr>

		</div>

		<div id="draw_area" class="col-sm-10 w3-theme-l5 scroll-panel" style="overflow: scroll; height: 800px;">

			<svg id="parent">
				
				<g *ngFor="let level of activeLevels">
				   
				   <rect [attr.x]="0" [attr.y]="level.y" [attr.width]="40" [attr.height]="level.height" fill="blue"></rect>
                   <text [attr.x]="40" [attr.y]="level.y" font-family="Verdana" font-size="35" fill="red">Hello</text> 
				   <rect class="level_content" [attr.x]="0" [attr.y]="level.y + level.height + 10" [attr.height]="20" (mousedown)="startChangeLevelHeight($event)"
					(mousemove)="changeLevelHeight($event, level)" (mouseup)="stopChangeLevelHeight($event)"></rect>
				
			     	<svg id="child" class="level_content w3-yellow" [attr.id]="level.value" [attr.x]="50" [attr.y]="level.y" [attr.height]="level.height"> 
					
					 <rect class="level_content" [attr.id]="level.value" [attr.x]="0" [attr.y]="0" [attr.height]="level.height" fill="green"
						(dragover)="onDragOver($event)" (drop)="onDrop($event, level)">
					 </rect>
					
					<g *ngFor="let levelGraphNode  of currentLevelGraph.levelGraphNodes">
						<rect *ngIf="levelGraphNode.level.value === level.value" rx="20" ry="20" [attr.id]="levelGraphNode.id" [attr.x]="levelGraphNode.x"
						[attr.y]="levelGraphNode.y" [attr.width]="levelGraphNode.width" [attr.height]="levelGraphNode.height"
						style="fill:red;stroke:black;stroke-width:5;" (mousedown)="startMovingNode($event, level)" (mousemove)="moveNode($event, levelGraphNode)"
						(mouseup)="stopMovingNode($event, level)" />	
					</g>
					
					 <polyline *ngIf="drawHostedOnRelation" [attr.points]="leveGraphHostedOnRelation.path"
						style="fill:none;stroke:black;stroke-width:3" />

					 <polyline *ngIf="drawConnectedToRelation" points="20,100 70,80 100,20"
						style="fill:none;stroke:black;stroke-width:3" />
					
					
					</svg>

				</g>
				
           </svg>

		</div>

	</div> -->

</div>

