<div class="container-fluid" (mouseup)="stopAllEvents()">

	<div class="row">

		<!-- Heading where you can see the current selected Level Graph save the level graph and open/close the control panel-->
		<div class="heading col-sm-12 w3-theme-d3 w3-card-4">
			<div class="col-sm-5">
				<h3>
					Level-Graph Name: <input disabled style="color: black" value="{{currentLevelGraph.name}}" />
				</h3>
			</div>
			<div class="col-sm-5">
				<h3>
					Level-Graph ID: <input disabled style="color: black" value="{{currentLevelGraph.id}}" />
				</h3>

			</div>

			<div class="col-sm-2">
				<button id="collapseBtn" class=" w3-theme-d1 btn btn-primary w3-right btn-10" type="button" data-toggle="collapse" data-target="#control_level_graph_tool" aria-expanded="false" aria-controls="control_level_graph_tool">
					<i class="fa fa-caret-down w3-right fa-lg" aria-hidden="true"></i>
				</button>
				<button id="saveBtn" class="btn btn-primary w3-right w3-green btn-10" type="button" (click)="updateLevelGraph()">
					<i class="icon fa fa-floppy-o" aria-hidden="true"></i>Save
				</button>
			</div>
		</div>
		
		<!-- Controller Panel for the controller groups like filters -->
		<div id="control_level_graph_tool" class="col-sm-12 w3-card-4 w3-theme collapse">

			<!-- Controller Group for add/remove level from the level graph and show/hide spezial levels-->
			<div class="controller-group col-sm-4 w3-theme-l2 ">
				<div class="group">
					<button class=" w3-right" (click)="addLevel()">
						<i class="fa fa-plus" aria-hidden="true"></i>
					</button>
					<input readonly style="width: 100px" id="number_of_levels" type="number" class="w3-center w3-right" value="{{currentLevelGraph.getNumberOfLevels()}}" min="1" max="5">
					<button class=" w3-right" (click)="removeLevel()">
						<i class="fa fa-minus" aria-hidden="true"></i>
					</button>
					<label class=" w3-right" for="number_of_levels">Number of Levels:</label>
				</div>
				<label>Displayed Levels:</label>
				<div id="level-list" class="w3-light-grey">
					<label *ngFor="let level of currentLevelGraph.levels" class="form-control"> <input type="checkbox" name="levels" [(ngModel)]="level.visible" value="{{level.id}}" (click)="onShowLevel(level)" /> Level {{level.depth}}
					</label>
				</div>
			</div>

			<!-- Controller Group for hide/show the different LevelGraphRelationTypes-->
			<div id="control_displayed_relationTypes" class="controller-group col-sm-4 form-group w3-light-grey w3-theme-l2">
				<label>Displayed Level-Graph RelationTypes:</label> <label *ngFor="let levelGraphRelationType of levelGraphRelationTypes " class="form-control"> <input type="checkbox" name="levelGraphRelationTypes" [(ngModel)]="levelGraphRelationType.checked" /> {{levelGraphRelationType.name}}
				</label>

			</div>

		</div>
	</div>

	<div class="row">

		<!-- Toolbox Panel for the toolbox groups like ModellingTools / LevelGraphNodes / RepositoryNodes -->
		<div id="toolbox_area" class="w3-card-4 col-sm-2 w3-theme">

			<h5 class="w3-center w3-margin">
				<b>Tool Box</b>
			</h5>

			<!-- Modelling Tools -->
			<div class="toolbox-group">
				<label>Modelling Tools:</label>
				<ul id="modelling-tool-list">
					<li class="tool-item"><input style="margin-right: 10px;" type="radio" name="radiogroup" [checked]="toolList[0].checked" (click)="changeTool(toolList[0])" value="{{toolList[0].name}}"><i class="fa fa-mouse-pointer" aria-hidden="true"></i>{{toolList[0].name}}</li>
					<li class="tool-item"><input style="margin-right: 10px;" type="radio" name="radiogroup" [checked]="toolList[1].checked" (click)="changeTool(toolList[1])" value="{{toolList[1].name}}"><i class="fa fa-arrow-right" style="color: green;" aria-hidden="true"></i>{{toolList[1].name}}</li>
					<li class="tool-item"><input style="margin-right: 10px;" type="radio" name="radiogroup" [checked]="toolList[2].checked" (click)="changeTool(toolList[2])" value="{{toolList[2].name}}"><i class="fa fa-arrow-right" style="color: blue;" aria-hidden="true"></i>{{toolList[2].name}}</li>
					<li class="tool-item"><input style="margin-right: 10px;" type="radio" name="radiogroup" [checked]="toolList[3].checked" (click)="changeTool(toolList[3])" value="{{toolList[3].name}}"><i class="fa fa-arrow-right" style="color: yellow;" aria-hidden="true"></i>{{toolList[3].name}}</li>
				</ul>
			</div>

			<!-- Level Graph Node Tools -->
			<div class="toolbox-group">
				<label>Level Graph Nodes:</label>
				<button style="width: 100%" class="w3-theme-d2 w3-border-brown btn btn-primary" type="button" data-toggle="collapse" data-target="#toolbox_level_graph_nodes" aria-expanded="false" aria-controls="toolbox_level_graph_nodes">
					Level Graph Nodes<i class="fa fa-caret-down w3-right" aria-hidden="true"></i>
				</button>

				<div class="collapse" id="toolbox_level_graph_nodes" style="margin: 0px; padding: 0px; width: 100%">
					<ul id="levelGraphSpezialNodeList" class="list-group">
						<li class="fragmentType w3-round" draggable="true" (drag)="onDrag($event, fragmentType, 'FRAGMENTTYPE')" (dragover)="onDragOver($event)">
							<h3>New FragmentType</h3>
						</li>
						<li class="nodeType w3-round" draggable="true" (drag)="onDrag($event, fragmentType, 'FRAGMENTTYPE')" (dragover)="onDragOver($event)">
							<h3>New NodeType</h3>
						</li>
						<li class="relationshipType w3-round" draggable="true" (drag)="onDrag($event, fragmentType, 'FRAGMENTTYPE')" (dragover)="onDragOver($event)">
							<h3>New RelationshipType</h3>
						</li>
					</ul>
				</div>

			</div>

			<!-- Repository Nodes -->
			<div class="toolbox-group">
				<label>Repository Nodes:</label>
				<div class="dropdown">
					<label>Selected Repository:</label>
					<button id="selectRepository" class=" w3-theme-d2 btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{selectedRepository.name}}</button>

					<ul class="dropdown-menu" style="width: 100%;">
						<li class="repositoryListItem" *ngIf="repositories.length < 1" disabled><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>NO RPOSITORY AVAILABLE</li>
						<li class="repositoryListItem" *ngFor="let repository of repositories" (click)="onSelectRepository(repository.id)">{{ repository.name }}</li>
					</ul>

				</div>

				<div class="tool-item">
					<button style="width: 100%" class="w3-theme-d2 w3-border-brown btn btn-primary" type="button" data-toggle="collapse" data-target="#toolbox_nodes" aria-expanded="false" aria-controls="toolbox_nodes">
						NodeTypes<i class="fa fa-caret-down w3-right" aria-hidden="true"></i>
					</button>

					<div class="collapse toolbox" id="toolbox_nodes">
						<ul id="nodeTypesList" class=" list-group">
							<li class="warning-item, w3-pale-yellow" *ngIf="repositories.length < 1" disabled><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>NO REPOSITORY AVAILABLE</li>

							<li class="warning-item, w3-pale-yellow" *ngIf="selectedRepository.nodeTypeList.length < 1" disabled><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>NO REPOSITORY SELECTED OR NO NODETYPES AVAILABLE</li>
							<li class="nodeType w3-round" draggable="true" *ngFor="let nodeType of selectedRepository.nodeTypeList" (drag)="onDrag($event, nodeType, 'NODETYPE')" (dragover)="onDragOver($event)"><img style="width: 32px; height: 32px" src="{{nodeType.icon}}" />
								<h3>{{nodeType.name}}</h3></li>

						</ul>
					</div>
				</div>

				<div class="tool-item">
					<button style="width: 100%" class="w3-theme-d2 w3-border-brown btn btn-primary" type="button" data-toggle="collapse" data-target="#toolbox_relations" aria-expanded="false" aria-controls="toolbox_relations">
						RelationTypes<i class="fa fa-caret-down w3-right" aria-hidden="true"></i>
					</button>

					<div class="collapse toolbox" id="toolbox_relations">
						<ul style="padding: 5px" id="relationTypesList" class="  list-group" style="height:300px; overflow: auto">
							<li class="warning-item, w3-pale-yellow" *ngIf="repositories.length < 1" disabled><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>NO REPOSITORY AVAILABLE</li>
							<li class="warning-item, w3-pale-yellow" *ngIf="repositories.length > 0 &&  selectedRepository.relationshipTypeList.length < 1" disabled><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>NO RELATIONSHIPTYPES AVAILABLE</li>
							<li class="relationshipType w3-round" draggable="true" *ngFor="let relationshipType of selectedRepository.relationshipTypeList" (drag)="onDrag($event, relationshipType, 'RELATIONSHIPTYPE')" (dragover)="onDragOver($event)"><img style="width: 32px; height: 32px" src="{{relationshipType.icon}}" />
								<h3>{{relationshipType.name}}</h3></li>
						</ul>
					</div>
				</div>
			</div>
		</div>



		<div id="draw_area" class="col-sm-10 w3-theme-l5 scroll-panel" (mousemove)="onDrawRelation($event)">

			<svg id="parent">
				
				<!-- Definition of the gradients of the nodes and the arrow of an edge -->
				
			    <defs>
   					<marker id="Triangle" viewBox="0 0 10 10" refX="50" refY="5" markerWidth="4" markerHeight="4" orient="auto">
    				  	<path d="M 0 0 L 10 5 L 0 10 z" />
   					</marker>
 				</defs>
 					 
				<defs>
   					<marker id="TriangleDraw" viewBox="0 0 10 10" refX="8" refY="5" markerWidth="4" markerHeight="4" orient="auto">
    				  	<path d="M 0 0 L 10 5 L 0 10 z" />
   					</marker>
 				</defs>
 					 
				<defs> 
					<linearGradient id="lgrad" x1="0%" y1="51%" x2="100%" y2="49%"> 
						<stop offset="0%" style="stop-color:rgb(0,51,51);stop-opacity:1" />
						<stop offset="50%" style="stop-color:rgb(5,193,255);stop-opacity:1" />
						<stop offset="100%" style="stop-color:rgb(0,51,51);stop-opacity:1" />
					</linearGradient> 
				</defs>

				<defs> 
					<linearGradient id="lgradNodeType" x1="49%" y1="100%" x2="51%" y2="0%"> 
						<stop offset="0%" style="stop-color:rgb(138,0,0);stop-opacity:1" />
						<stop offset="50%" style="stop-color:rgb(255,0,0);stop-opacity:1" />
						<stop offset="100%" style="stop-color:rgb(138,0,0);stop-opacity:1" />
					</linearGradient> 
				</defs>
				
				<defs> 
					<linearGradient id="lgradRelationshipType" x1="50%" y1="100%" x2="50%" y2="0%"> 
						<stop offset="0%" style="stop-color:rgb(0,128,0);stop-opacity:1" />
						<stop offset="50%" style="stop-color:rgb(27,252,15);stop-opacity:1" />
						<stop offset="100%" style="stop-color:rgb(0,128,0);stop-opacity:1" />
					</linearGradient> 
				</defs>

				<defs> 
					<linearGradient id="lgradFragmentNode" x1="50%" y1="100%" x2="50%" y2="0%"> 
						<stop offset="0%" style="stop-color:rgb(255,111,0);stop-opacity:1" />
						<stop offset="51%" style="stop-color:rgb(219,212,0);stop-opacity:1" />
						<stop offset="100%" style="stop-color:rgb(255,111,0);stop-opacity:1" />
					</linearGradient> 
				</defs>
				
				<!-- Definition of the refineTo LevelGraphRelations -->
				
				<polyline *ngIf="drawRelation && currentDrawRelation.levelGraphRelationType === 'REFINE_TO'" [attr.points]="currentDrawRelation.path.pathDataString" style="fill:none;stroke:yellow;stroke-width:6" marker-end="url(#TriangleDraw)" />
						
				<g [contextmenu]="[levelGraphRelationContextMenu, {levelGraphRelation: levelGraphRelation}]" *ngFor="let levelGraphRelation  of currentLevelGraph.levelGraphRelations">
					<polyline *ngIf="(levelGraphRelationTypes[2].checked == true) && (levelGraphRelation.levelGraphRelationType === 'REFINE_TO') && showRefineToRelation(levelGraphRelation)" [attr.points]="levelGraphRelation.path.pathDataString" style="fill:none;stroke:yellow;stroke-width:6" marker-end="url(#Triangle)" />
			    </g>
				
				<!-- Definition of the level draw areas-->
				
				<g *ngFor="let level of currentLevelGraph.levels.reverse()">
				   	
				   <g *ngIf="level.visible">
				   		
				   		<!-- Definition of the labels for the level draw areas-->
				   		<rect [attr.x]="0" [attr.y]="level.y" [attr.width]="40" [attr.height]="level.height" fill="url(#lgrad)"></rect>
                   		<text [attr.x]="20" [attr.y]="level.y + level.height/2" writing-mode="tb" font-family="Verdana" font-size="35" fill="white" text-anchor="middle">Level {{level.depth}}</text> 
				   		
				   		<!-- Definition of the move bar to change the height of the level draw areas-->
				   		<rect class="level-move-bar" [attr.x]="0" [attr.y]="level.y + level.height + 10" [attr.height]="20" (mousedown)="startChangeLevelHeight($event)" (mousemove)="onChangeLevelHeight($event, level)" (mouseup)="stopChangeLevelHeight($event)"></rect>
				
						<!-- Definition of the level draw areas-->
			       		
			       		<svg id="child" [attr.id]="level.depth" [attr.x]="50" [attr.y]="level.y" [attr.height]="level.height" (dragover)="onDragOver($event)" (drop)="onDrop($event, level)"> 
				   			<rect class="level-panel" [attr.x]="0" [attr.y]="0" [attr.height]="level.height"></rect>
								
							<!-- Definition of the hostedOnRelation-->
				    		<g [contextmenu]="[levelGraphRelationContextMenu, {levelGraphRelation: levelGraphRelation}]" *ngFor="let levelGraphRelation  of currentLevelGraph.levelGraphRelations">
					    		<polyline *ngIf="(levelGraphRelationTypes[1].checked == true) && (levelGraphRelation.levelGraphRelationType === 'HOSTED_ON') && (levelGraphRelation.sourceLevelDepth === level.depth)" [attr.points]="levelGraphRelation.path.pathDataString" style="fill:none;stroke:blue;stroke-width:6" marker-end="url(#Triangle)" />
							</g>
					
							<!-- Definition of the connectedToRelation-->
					 		<g [contextmenu]="[levelGraphRelationContextMenu, {levelGraphRelation: levelGraphRelation}]" *ngFor="let levelGraphRelation  of currentLevelGraph.levelGraphRelations">
					   			<polyline *ngIf="(levelGraphRelationTypes[0].checked == true) && (level.depth === levelGraphRelation.sourceLevelDepth) && (levelGraphRelation.levelGraphRelationType === 'CONNECTED_TO')" [attr.points]="levelGraphRelation.path.pathDataString" style="fill:none;stroke:green;stroke-width:6" marker-end="url(#Triangle)" />
							</g>
				
							<polyline *ngIf="drawRelation && currentDrawRelation.sourceLevelDepth === level.depth  && currentDrawRelation.levelGraphRelationType === 'CONNECTED_TO'" [attr.points]="currentDrawRelation.path.pathDataString" style="fill:none;stroke:green;stroke-width:6" marker-end="url(#TriangleDraw)" />
						
				    		<polyline *ngIf="drawRelation && currentDrawRelation.sourceLevelDepth === level.depth && currentDrawRelation.levelGraphRelationType === 'HOSTED_ON'" [attr.points]="currentDrawRelation.path.pathDataString" style="fill:none;stroke:blue;stroke-width:6" marker-end="url(#TriangleDraw)" />	
					
							<g [contextmenu]="[levelGraphNodeContextMenu, {levelGraphNode: levelGraphNode}]" *ngFor="let levelGraphNode  of currentLevelGraph.levelGraphNodes">
								<g *ngIf="((levelGraphNode.levelGraphNodeType === 'FRAGMENTTYPE') && (levelGraphNode.levelId === level.id))" (mousedown)="startMoveNode($event, levelGraphNode); startDrawRelation($event, level, levelGraphNode)" (mousemove)="onMoveNode($event, level)" (mouseup)="stopMoveNode($event); stopDrawRelation($event, levelGraphNode, level);">
									<rect rx="20" ry="20" [attr.id]="levelGraphNode.id" [attr.x]="levelGraphNode.x" [attr.y]="levelGraphNode.y" [attr.width]="levelGraphNode.width" [attr.height]="levelGraphNode.height" fill="url(#lgradFragmentNode)" style="stroke:black;stroke-width:5;" />
									<text [attr.x]="levelGraphNode.x + levelGraphNode.width/2" [attr.y]="levelGraphNode.y + levelGraphNode.height/2" font-family="Verdana" font-size="35" fill="white" text-anchor="middle">{{levelGraphNode.name}}</text>
								</g> 	
							</g>
					
				 			<g [contextmenu]="[levelGraphNodeContextMenu, {levelGraphNode: levelGraphNode}]" *ngFor="let levelGraphNode  of currentLevelGraph.levelGraphNodes">
								<g *ngIf="((levelGraphNode.levelGraphNodeType === 'NODETYPE') && (levelGraphNode.levelId === level.id))" (mousedown)="startMoveNode($event, levelGraphNode); startDrawRelation($event, level, levelGraphNode)" (mousemove)="onMoveNode($event, level)" (mouseup)="stopMoveNode($event); stopDrawRelation($event, levelGraphNode, level);">
									<rect rx="20" ry="20" [attr.id]="levelGraphNode.id" [attr.x]="levelGraphNode.x" [attr.y]="levelGraphNode.y" [attr.width]="levelGraphNode.width" [attr.height]="levelGraphNode.height" fill="url(#lgradNodeType)" style="stroke:black;stroke-width:5;" />
									<text [attr.x]="levelGraphNode.x + levelGraphNode.width/2" [attr.y]="levelGraphNode.y + levelGraphNode.height/2" font-family="Verdana" font-size="35" fill="white" text-anchor="middle">{{levelGraphNode.name}}</text> 		
								</g>
							</g>
					
							<g [contextmenu]="[levelGraphNodeContextMenu, {levelGraphNode: levelGraphNode}]" *ngFor="let levelGraphNode  of currentLevelGraph.levelGraphNodes">
								<g *ngIf="((levelGraphNode.levelGraphNodeType === 'RELATIONSHIPTYPE') && (levelGraphNode.levelId === level.id))" (mousedown)="startMoveNode($event, levelGraphNode); startDrawRelation($event, level, levelGraphNode)" (mousemove)="onMoveNode($event, level)" (mouseup)="stopMoveNode($event); stopDrawRelation($event, levelGraphNode, level);">
									<rect rx="20" ry="20" [attr.id]="levelGraphNode.id" [attr.x]="levelGraphNode.x" [attr.y]="levelGraphNode.y" [attr.width]="levelGraphNode.width" [attr.height]="levelGraphNode.height" fill="url(#lgradRelationshipType)" style="stroke:black;stroke-width:5;" />
									<text [attr.x]="levelGraphNode.x + levelGraphNode.width/2" [attr.y]="levelGraphNode.y + levelGraphNode.height/2" font-family="Verdana" font-size="35" fill="white" text-anchor="middle">{{levelGraphNode.name}}</text> 	
								</g>
							</g>
						</svg>
					</g>
				</g>	
           </svg>
		</div>
	</div>
</div>


<contextmenu #levelGraphNodeContextMenu>
<div class="dropdown open">
	<div class="dropdown-menu">
		<a class="dropdown-item" (click)="addProperty(levelGraphNodeContextMenu.get('levelGraphNode'))"><i class="fa fa-eye" aria-hidden="true"></i>Add ProvidedProperty</a> <a class="dropdown-item" (click)="addProperty(levelGraphNodeContextMenu.get('levelGraphNode'))"><i class="fa fa-eye" aria-hidden="true"></i>Add ExpectedProperty</a> <a class="dropdown-item"
			(click)="viewDetails(levelGraphNodeContextMenu.get('levelGraphNode'))"><i class="fa fa-eye" aria-hidden="true"></i>View Details</a> <a class="dropdown-item" (click)="deleteLevelGraphNode(levelGraphNodeContextMenu.get('levelGraphNode'))"><i class="fa fa-trash" aria-hidden="true"></i>Delete</a>
	</div>
</div>
</contextmenu>

<contextmenu #levelGraphRelationContextMenu>
<div class="dropdown open">
	<div class="dropdown-menu">
		<a class="dropdown-item" (click)="addProperty(levelGraphRelationContextMenu.get('levelGraphRelation'))"><i class="fa fa-eye" aria-hidden="true"></i>Add ProvidedProperty</a> <a class="dropdown-item" (click)="addProperty(levelGraphRelationContextMenu.get('levelGraphRelation'))"><i class="fa fa-eye" aria-hidden="true"></i>Add ExpectedProperty</a> <a class="dropdown-item"
			(click)="viewDetails(levelGraphRelationContextMenu.get('levelGraphRelation'))"><i class="fa fa-eye" aria-hidden="true"></i>View Details</a> <a class="dropdown-item" (click)="deleteLevelGraphRelation(levelGraphRelationContextMenu.get('levelGraphRelation'))"><i class="fa fa-trash" aria-hidden="true"></i>Delete</a>
	</div>
</div>
</contextmenu>