<div id="level_graph_tool" class="container-fluid w3-theme-l3">

	<div class="row">

		<div class="col-sm-12 w3-theme-d3 w3-card-4" style="margin-bottom: 0px;">
			<H3 class="col-sm-5">Level-Graph Name: {{currentLevelGraphName}}</H3>
			<H3 class="col-sm-5">Level-Graph ID: {{currentLevelGraphId}}</H3>
			<button class=" w3-theme-d1 btn btn-primary w3-right" type="button" data-toggle="collapse" data-target="#control_level_graph_tool"
				aria-expanded="false" aria-controls="control_level_graph_tool">
				<i class="fa fa-caret-down w3-right" aria-hidden="true"></i>
			</button>
			<button class="btn btn-primary w3-right w3-green" type="button" aria-expanded="false" aria-controls="control_level_graph_tool"
				(click)="updateLevelGraph()">
				<i class="fa fa-caret-down w3-right" aria-hidden="true"></i>Save
			</button>

		</div>

		<div style="margin-top: 0px;" id="control_level_graph_tool" class="col-sm-12 w3-card-4 w3-theme collapse">

			<div id="control_number_of_levels" class=" col-sm-4 w3-theme-l2 ">

				<div class="form-inline">

					<label for="number_of_levels">Number of Levels:</label>

					<button class=" w3-right">
						<i class="fa fa-plus" aria-hidden="true" (click)=addLevel()></i>
					</button>
					<input readonly style="width: 100px" id="number_of_levels" type="number" class="w3-center w3-right"
						value="{{currentLevelGraph.getNumberOfLevels()}}" min="1" max="5">
					<button class=" w3-right">
						<i class="fa fa-minus" aria-hidden="true" (click)=removeLevel()></i>
					</button>

				</div>
				<label>Displayed Levels:</label>
				<div class="form-group w3-light-grey" style="overflow: scroll; height: 150px;">

					<label *ngFor="let level of currentLevelGraph.levels" class="form-control"> <input type="checkbox" name="levels"
						[(ngModel)]="level.checked" value="{{level.id}}" (click)="onShowLevel(level)" /> {{level.name}}
					</label>
				</div>

			</div>

			<div id="control_displayed_relationTypes" class="col-sm-4 form-group w3-light-grey w3-theme-l2">
				<label>Displayed Level-Graph RelationTypes:</label> <label *ngFor="let levelGraphRelationType of levelGraphRelationTypes " class="form-control">
					<input type="checkbox" name="levelGraphRelationTypes" [(ngModel)]="levelGraphRelationType.checked" value={{levelGraphRelationType.id}} />
					{{levelGraphRelationType.name}}
				</label>

			</div>

		</div>

		<div id="toolbox_area" class="w3-card-4 col-sm-2 w3-theme" style="margin: 0px; padding: 10px; margin-top: 10px;">

			<h5 style="width: 100% w3-theme-d4">Toolbox</h5>
			<div class="toolbox_group" style="margin: 0px; margin-top: 5px; padding: 0px; width: 100%">

				<ul *ngFor="let tool of toolList" style="margin: 0px; margin-top: 5px; padding: 0px; width: 100%">
					<li style="margin: 0px; margin-top: 5px; padding: 0px; width: 100%"><input type="radio" name="radiogroup" [checked]="tool.checked"
						(click)="changeTool(tool)" value="{{tool.name}}">{{tool.name}}</li>
				</ul>

			</div>

			<hr>

			<div class="toolbox_group" style="margin: 0px; margin-top: 5px; padding: 0px; width: 100%">

				<button style="width: 100%" class="w3-theme-d2 w3-border-brown btn btn-primary" type="button" data-toggle="collapse"
					data-target="#toolbox_level_graph_nodes" aria-expanded="false" aria-controls="toolbox_level_graph_nodes">
					Level Graph Nodes<i class="fa fa-caret-down w3-right" aria-hidden="true"></i>
				</button>

				<div class="collapse" id="toolbox_level_graph_nodes" style="margin: 0px; padding: 0px; width: 100%">
					<ul style="padding: 5px" id="levelGraphSpezialNodeList" class="  list-group">
						<li class="fragmentType w3-round" draggable="true" *ngFor="let fragmentType of levelGraphNodeTypes"
							(drag)="onDrag($event, fragmentType, 'FRAGMENTNODE')" (dragover)="onDragOver($event)"><img src="http://lorempixum.com/100/100/nature/1" />
							<h3>Fragment Node</h3></li>
					</ul>
				</div>

			</div>

			<hr>


			<div id="toolbox_group" style="margin: 0px; padding: 0px; width: 100%">


				<div class="dropdown">
					<label>Selected Repository:</label>
					<button style="width: 100%" class=" w3-theme-d2 btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{selectedRepository.name}}

					</button>

					<ul class="dropdown-menu">
						<li class="repositoryListItem" *ngIf="repositories.length < 1" disabled>NO RPOSITORY AVAILABLE</li>
						<li class="repositoryListItem" *ngFor="let repository of repositories" (click)="onSelectRepository(repository.id)">{{ repository.name }}</li>
					</ul>

				</div>

			</div>

			<div class=" toolbox_group" style="margin: 0px; padding: 0px; width: 100%">

				<button style="width: 100%" class="w3-theme-d2 w3-border-brown btn btn-primary" type="button" data-toggle="collapse" data-target="#toolbox_nodes"
					aria-expanded="false" aria-controls="toolbox_nodes">
					NodeTypes<i class="fa fa-caret-down w3-right" aria-hidden="true"></i>
				</button>

				<div class="  collapse toolbox" id="toolbox_nodes" style="margin: 0px; padding: 0px; width: 100%">
					<ul style="padding: 5px" id="nodeTypesList" class=" list-group">
						<li *ngIf="repositories.length < 1" disabled>NO REPOSITORY AVAILABLE</li>

						<li *ngIf="selectedRepository.nodeTypeList.length < 1" disabled>NO REPOSITORY SELECTED OR NO NODETYPES AVAILABLE</li>
						<li class="nodeType w3-round" draggable="true" *ngFor="let nodeType of selectedRepository.nodeTypeList"
							(drag)="onDrag($event, nodeType, 'NODETYPE')" (dragover)="onDragOver($event)"><img src="http://lorempixum.com/100/100/nature/1" />
							<h3>{{nodeType.name}}</h3></li>

					</ul>
				</div>
			</div>

			<div class="toolbox_group" style="margin: 0px; margin-top: 5px; padding: 0px; width: 100%">

				<button style="width: 100%" class="w3-theme-d2 w3-border-brown btn btn-primary" type="button" data-toggle="collapse"
					data-target="#toolbox_relations" aria-expanded="false" aria-controls="toolbox_relations">
					RelationTypes<i class="fa fa-caret-down w3-right" aria-hidden="true"></i>
				</button>

				<div class="collapse toolbox" id="toolbox_relations" style="margin: 0px; padding: 0px; width: 100%">
					<ul style="padding: 5px" id="relationTypesList" class="  list-group">
						<li *ngIf="repositories.length < 1" disabled>NO REPOSITORY AVAILABLE</li>
						<li *ngIf="repositories.length > 0 &&  selectedRepository.relationshipTypeList.length < 1" disabled>NO RELATIONSHIPTYPES AVAILABLE</li>
						<li class="relationType w3-round" draggable="true" *ngFor="let relationshipType of selectedRepository.relationshipTypeList"
							(drag)="onDrag($event, relationshipType, 'RELATIONSHIPTYPE')" (dragover)="onDragOver($event)"><img
							src="http://lorempixum.com/100/100/nature/1" />
							<h3>{{relationshipType.name}}</h3></li>
					</ul>
				</div>

			</div>

			<hr>

		</div>

		<div id="draw_area" class="col-sm-10 w3-theme-l5 scroll-panel" style="overflow: scroll; height: 800px;" (mousemove)="drawEdge($event)" (mouseup)="mouseUpOnDrawArea()"
			>

			<svg id="parent">
				
				<defs>
   					<marker id="Triangle" viewBox="0 0 10 10" refX="50" refY="5" markerWidth="4" markerHeight="4" orient="auto">
    				  	<path d="M 0 0 L 10 5 L 0 10 z" />
   					</marker>
 				</defs>
 					 
				<defs> 
					<linearGradient id="lgrad" x1="0%" y1="51%" x2="100%" y2="49%"> 
						<stop offset="0%" style="stop-color:rgb(0,51,51);stop-opacity:1" />
						<stop offset="50%" style="stop-color:rgb(5,193,255);stop-opacity:1" />
						<stop offset="100%" style="stop-color:rgb(0,51,51);stop-opacity:1" />
					</linearGradient> 
				</defs>

				<defs> 
					<linearGradient id="lgradNodeType" x1="49%" y1="100%" x2="51%" y2="0%"> 
						<stop offset="0%" style="stop-color:rgb(138,0,0);stop-opacity:1" />
						<stop offset="50%" style="stop-color:rgb(255,0,0);stop-opacity:1" />
						<stop offset="100%" style="stop-color:rgb(138,0,0);stop-opacity:1" />
					</linearGradient> 
				</defs>
				
				<defs> 
					<linearGradient id="lgradRelationshipType" x1="50%" y1="100%" x2="50%" y2="0%"> 
						<stop offset="0%" style="stop-color:rgb(0,128,0);stop-opacity:1" />
						<stop offset="50%" style="stop-color:rgb(27,252,15);stop-opacity:1" />
						<stop offset="100%" style="stop-color:rgb(0,128,0);stop-opacity:1" />
					</linearGradient> 
				</defs>

				<defs> 
					<linearGradient id="lgradFragmentNode" x1="50%" y1="100%" x2="50%" y2="0%"> 
						<stop offset="0%" style="stop-color:rgb(255,111,0);stop-opacity:1" />
						<stop offset="51%" style="stop-color:rgb(219,212,0);stop-opacity:1" />
						<stop offset="100%" style="stop-color:rgb(255,111,0);stop-opacity:1" />
					</linearGradient> 
				</defs>
				
				<g *ngFor="let level of activeLevels">
				   
				   <rect [attr.x]="0" [attr.y]="level.y" [attr.width]="40" [attr.height]="level.height" fill="url(#lgrad)"></rect>
                   <text [attr.x]="20" [attr.y]="level.y + level.height/2" writing-mode="tb" font-family="Verdana" font-size="35" fill="white"
					text-anchor="middle">Level {{level.value}}</text> 
				   <rect class="level-move-bar" [attr.x]="0" [attr.y]="level.y + level.height + 10" [attr.height]="20"
					(mousedown)="startChangeLevelHeight($event)" (mousemove)="changeLevelHeight($event, level)" (mouseup)="stopChangeLevelHeight($event)"></rect>
				
			       <svg id="child" [attr.id]="level.value" [attr.x]="50" [attr.y]="level.y" [attr.height]="level.height"> 
					
					 <rect class="level-panel" [attr.id]="level.value" [attr.x]="0" [attr.y]="0" [attr.height]="level.height" (dragover)="onDragOver($event)"
						(drop)="onDrop($event, level)"></rect>
					
				    <g [contextmenu]="[levelGraphRelationContextMenu, {levelGraphRelation: levelGraphRelation}]"
						*ngFor="let levelGraphRelation  of currentLevelGraph.levelGraphRelations">
					    <polyline
						*ngIf="(levelGraphRelationTypes[1].checked == true) && (levelGraphRelation.levelGraphRelationType === 'HOSTED_ON_RELATION') && (levelGraphRelation.sourceLevelValue === level.value)"
						[attr.points]="levelGraphRelation.path.pathDataString" style="fill:none;stroke:blue;stroke-width:6" marker-end="url(#Triangle)" />
					</g>
					
					 <g [contextmenu]="[levelGraphRelationContextMenu, {levelGraphRelation: levelGraphRelation}]"
						*ngFor="let levelGraphRelation  of currentLevelGraph.levelGraphRelations">
					    <polyline
						*ngIf="(levelGraphRelationTypes[0].checked == true) && (level.value === levelGraphRelation.sourceLevelValue) && (levelGraphRelation.levelGraphRelationType === 'CONNECTED_TO_RELATION')"
						[attr.points]="levelGraphRelation.path.pathDataString" style="fill:none;stroke:green;stroke-width:6" marker-end="url(#Triangle)" />
					</g>
				
				
					<polyline
						*ngIf="drawRelation && currentDrawRelation.sourceLevelValue === level.value  && currentDrawRelation.levelGraphRelationType === 'CONNECTED_TO_RELATION'"
						[attr.points]="currentDrawRelation.path.pathDataString" style="fill:none;stroke:green;stroke-width:6" marker-end="url(#Triangle)" />
						
				    <polyline
						*ngIf="drawRelation && currentDrawRelation.sourceLevelValue === level.value && currentDrawRelation.levelGraphRelationType === 'HOSTED_ON_RELATION'"
						[attr.points]="currentDrawRelation.path.pathDataString" style="fill:none;stroke:blue;stroke-width:6" marker-end="url(#Triangle)" />	
					
					<g [contextmenu]="[levelGraphNodeContextMenu, {levelGraphNode: levelGraphNode}]"
						*ngFor="let levelGraphNode  of currentLevelGraph.levelGraphNodes">
						<rect *ngIf="((levelGraphNode.levelGraphNodeType === 'FRAGMENTNODE') && (levelGraphNode.levelId === level.id))" rx="20" ry="20"
						[attr.id]="levelGraphNode.id" [attr.x]="levelGraphNode.x" [attr.y]="levelGraphNode.y" [attr.width]="levelGraphNode.width"
						[attr.height]="levelGraphNode.height" fill="url(#lgradFragmentNode)" style="stroke:black;stroke-width:5;"
						(mousedown)="mouseDownOnNode($event, level, levelGraphNode)" (mouseup)="mouseUpOnNode($event, level, levelGraphNode)" />	
					</g>
					
				 	<g [contextmenu]="[levelGraphNodeContextMenu, {levelGraphNode: levelGraphNode}]"
						*ngFor="let levelGraphNode  of currentLevelGraph.levelGraphNodes">
						<rect *ngIf="((levelGraphNode.levelGraphNodeType === 'NODETYPE') && (levelGraphNode.levelId === level.id))" rx="20" ry="20"
						[attr.id]="levelGraphNode.id" [attr.x]="levelGraphNode.x" [attr.y]="levelGraphNode.y" [attr.width]="levelGraphNode.width"
						[attr.height]="levelGraphNode.height" fill="url(#lgradNodeType)" style="stroke:black;stroke-width:5;"
						(mousedown)="mouseDownOnNode($event, level, levelGraphNode)" (mouseup)="mouseUpOnNode($event, level, levelGraphNode)" />	
					</g>
					
					<g [contextmenu]="[levelGraphNodeContextMenu, {levelGraphNode: levelGraphNode}]"
						*ngFor="let levelGraphNode  of currentLevelGraph.levelGraphNodes">
						<rect *ngIf="((levelGraphNode.levelGraphNodeType === 'RELATIONSHIPTYPE') && (levelGraphNode.levelId === level.id))" rx="20" ry="20"
						[attr.id]="levelGraphNode.id" [attr.x]="levelGraphNode.x" [attr.y]="levelGraphNode.y" [attr.width]="levelGraphNode.width"
						[attr.height]="levelGraphNode.height" fill="url(#lgradRelationshipType)" style="stroke:black;stroke-width:5;"
						(mousedown)="mouseDownOnNode($event, level, levelGraphNode)" (mouseup)="mouseUpOnNode($event, level, levelGraphNode)" />	
					</g>
					
		
					
					
				
				
					</svg>
					
				</g>
				
				<polyline *ngIf="drawRelation && currentDrawRelation.levelGraphRelationType === 'REFINE_TO_RELATION'"
					[attr.points]="currentDrawRelation.path.pathDataString" style="fill:none;stroke:yellow;stroke-width:6" marker-end="url(#Triangle)" />
						
				    <g [contextmenu]="[levelGraphRelationContextMenu, {levelGraphRelation: levelGraphRelation}]"
					*ngFor="let levelGraphRelation  of currentLevelGraph.levelGraphRelations">
					    <polyline *ngIf="(levelGraphRelationTypes[2].checked == true) && (levelGraphRelation.levelGraphRelationType === 'REFINE_TO_RELATION')"
					[attr.points]="levelGraphRelation.path.pathDataString" style="fill:none;stroke:yellow;stroke-width:6" marker-end="url(#Triangle)" />
					</g>
           </svg>

		</div>

	</div>

</div>

<contextmenu #levelGraphNodeContextMenu>
<div class="dropdown open">
	<div class="dropdown-menu">
		<a class="dropdown-item" (click)="viewDetails(levelGraphNodeContextMenu.get('levelGraphNode'))"><i class="fa fa-eye" aria-hidden="true"></i>View
			Details</a> <a class="dropdown-item" (click)="deleteLevelGraphNode(levelGraphNodeContextMenu.get('levelGraphNode'))"><i class="fa fa-trash"
			aria-hidden="true"></i>Delete</a>
	</div>
</div>
</contextmenu>

<contextmenu #levelGraphRelationContextMenu>
<div class="dropdown open">
	<div class="dropdown-menu">
		<a class="dropdown-item" (click)="viewDetails(levelGraphRelationContextMenu.get('levelGraphRelation'))"><i class="fa fa-eye" aria-hidden="true"></i>View
			Details</a> <a class="dropdown-item" (click)="deleteLevelGraphRelation(levelGraphRelationContextMenu.get('levelGraphRelation'))"><i
			class="fa fa-trash" aria-hidden="true"></i>Delete</a>
	</div>
</div>
</contextmenu>
