/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3e2c7+0,c19e67+50,b68d4c+51,e9d4b3+100;L+Brown+3D */

/**********************************************************************************************************************************************
 *
 * Gradients
 *
 ***********************************************************************************************************************************************/
.repositoryListItem {
	background: #f5f6f6; /* Old browsers */
	background: -moz-linear-gradient(top, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3
		80%, #f5f6f6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%,
		#dddfe3 80%, #f5f6f6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3
		80%, #f5f6f6 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6',
		endColorstr='#f5f6f6', GradientType=0); /* IE6-9 */
	padding: 5px;
	marging: 5px;
	font-size: 1.2em;
}

.repositoryListItem:hover {
	background: #3c6e9a;
	cursor: pointer;
}

.nodeType {
	background: -moz-linear-gradient(89deg, rgba(222,152,12,1) 0%, rgba(232,159,12,1) 25%, rgba(255,174,13,1) 52%, rgba(237,162,12,1) 75%, rgba(219,150,11,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(219,150,11,1)), color-stop(25%, rgba(237,162,12,1)), color-stop(48%, rgba(255,174,13,1)), color-stop(75%, rgba(232,159,12,1)), color-stop(100%, rgba(222,152,12,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(89deg, rgba(222,152,12,1) 0%, rgba(232,159,12,1) 25%, rgba(255,174,13,1) 52%, rgba(237,162,12,1) 75%, rgba(219,150,11,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(89deg, rgba(222,152,12,1) 0%, rgba(232,159,12,1) 25%, rgba(255,174,13,1) 52%, rgba(237,162,12,1) 75%, rgba(219,150,11,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(89deg, rgba(222,152,12,1) 0%, rgba(232,159,12,1) 25%, rgba(255,174,13,1) 52%, rgba(237,162,12,1) 75%, rgba(219,150,11,1) 100%); /* ie10+ */
background: linear-gradient(1deg, rgba(222,152,12,1) 0%, rgba(232,159,12,1) 25%, rgba(255,174,13,1) 52%, rgba(237,162,12,1) 75%, rgba(219,150,11,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DB960B', endColorstr='#DE980C',GradientType=0 ); /* ie6-9 */
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
	width: 100%;
	border-width: 3px;
    border-color:black;
}

.relationshipType {
	background: -moz-linear-gradient(90deg, rgba(0, 128, 0, 1) 0%,
		rgba(27, 252, 15, 1) 50%, rgba(0, 128, 0, 1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,
		128, 0, 1)), color-stop(50%, rgba(27, 252, 15, 1)),
		color-stop(100%, rgba(0, 128, 0, 1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(90deg, rgba(0, 128, 0, 1) 0%,
		rgba(27, 252, 15, 1) 50%, rgba(0, 128, 0, 1) 100%);
	/* safari5.1+,chrome10+ */
	background: -o-linear-gradient(90deg, rgba(0, 128, 0, 1) 0%,
		rgba(27, 252, 15, 1) 50%, rgba(0, 128, 0, 1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(90deg, rgba(0, 128, 0, 1) 0%,
		rgba(27, 252, 15, 1) 50%, rgba(0, 128, 0, 1) 100%); /* ie10+ */
	background: linear-gradient(0deg, rgba(0, 128, 0, 1) 0%,
		rgba(27, 252, 15, 1) 50%, rgba(0, 128, 0, 1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008000',
		endColorstr='#008000', GradientType=0); /* ie6-9 */
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
	width: 100%;
	  border-width: 3px;
    border-color:black;
}

.fragmentNodeType {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#deefff+0,98bede+100;Blue+3D+%2310 */
	background: -moz-linear-gradient(90deg, rgba(255, 111, 0, 1) 0%,
		rgba(219, 212, 0, 1) 51%, rgba(255, 111, 0, 1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,
		111, 0, 1)), color-stop(49%, rgba(219, 212, 0, 1)),
		color-stop(100%, rgba(255, 111, 0, 1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(90deg, rgba(255, 111, 0, 1) 0%,
		rgba(219, 212, 0, 1) 51%, rgba(255, 111, 0, 1) 100%);
	/* safari5.1+,chrome10+ */
	background: -o-linear-gradient(90deg, rgba(255, 111, 0, 1) 0%,
		rgba(219, 212, 0, 1) 51%, rgba(255, 111, 0, 1) 100%);
	/* opera 11.10+ */
	background: -ms-linear-gradient(90deg, rgba(255, 111, 0, 1) 0%,
		rgba(219, 212, 0, 1) 51%, rgba(255, 111, 0, 1) 100%); /* ie10+ */
	background: linear-gradient(0deg, rgba(255, 111, 0, 1) 0%,
		rgba(219, 212, 0, 1) 51%, rgba(255, 111, 0, 1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF6F00',
		endColorstr='#FF6F00', GradientType=0); /* ie6-9 */
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
	width: 100%;
}

.fragmentRelationshipType {
	background: -moz-linear-gradient(90deg, rgba(145, 248, 255, 1) 0%,
		rgba(145, 248, 255, 1) 15%, rgba(0, 255, 255, 1) 50%,
		rgba(145, 248, 255, 1) 85%, rgba(145, 248, 255, 1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(145,
		248, 255, 1)), color-stop(15%, rgba(145, 248, 255, 1)),
		color-stop(50%, rgba(0, 255, 255, 1)),
		color-stop(85%, rgba(145, 248, 255, 1)),
		color-stop(100%, rgba(145, 248, 255, 1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(90deg, rgba(145, 248, 255, 1) 0%,
		rgba(145, 248, 255, 1) 15%, rgba(0, 255, 255, 1) 50%,
		rgba(145, 248, 255, 1) 85%, rgba(145, 248, 255, 1) 100%);
	/* safari5.1+,chrome10+ */
	background: -o-linear-gradient(90deg, rgba(145, 248, 255, 1) 0%,
		rgba(145, 248, 255, 1) 15%, rgba(0, 255, 255, 1) 50%,
		rgba(145, 248, 255, 1) 85%, rgba(145, 248, 255, 1) 100%);
	/* opera 11.10+ */
	background: -ms-linear-gradient(90deg, rgba(145, 248, 255, 1) 0%,
		rgba(145, 248, 255, 1) 15%, rgba(0, 255, 255, 1) 50%,
		rgba(145, 248, 255, 1) 85%, rgba(145, 248, 255, 1) 100%); /* ie10+ */
	background: linear-gradient(0deg, rgba(145, 248, 255, 1) 0%,
		rgba(145, 248, 255, 1) 15%, rgba(0, 255, 255, 1) 50%,
		rgba(145, 248, 255, 1) 85%, rgba(145, 248, 255, 1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91f8ff',
		endColorstr='#91f8ff', GradientType=0); /* ie6-9 */
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
	width: 100%;
}

/**********************************************************************************************************************************************
 *
 * Buttons
 *
 ***********************************************************************************************************************************************/
#saveBtn {
	margin-right: 5px;
	margin-left: 5px;
}

#selectRepository {
	width: 100%;
	margin-bottom: 10px;
}

#collapseBtn {
	margin-right: 10px;
	margin-left: 10px;
}

/**********************************************************************************************************************************************
 *
 * Controller Panel
 *
 ***********************************************************************************************************************************************/
.controller-group {
	margin: 10px;
	padding: 10px;
}

.group {
	margin: 5px;
	padding: 5px;
}

#level-list {
	overflow: scroll;
	height: 150px;
	margin: 5px;
	padding: 5px;
}

/**********************************************************************************************************************************************
 *
 * Tool Box
 *
 ***********************************************************************************************************************************************/
#toolbox_area {
	margin-top: 10px;
	margin-right: 10px;
	width: 300px;
	height: 100%;
	overflow: auto;
}

.toolbox-group {
	margin: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
	width: 100%;
	border-style: solid;
	border-width: 2px;
	border-color: grey
}

.tool-item {
	margin: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
	width: 100%;
}

.modelling-tool-list {
	margin: 0px;
	margin-top: 5px;
	padding: 0px;
	width: 100%;
}

#modelling-tool-list:hover {
	background: #3c6e9a;
	cursor: pointer;
}

.warning-item {
	padding: 5px;
}

/**********************************************************************************************************************************************
 *
 * Draw Area
 *
 ***********************************************************************************************************************************************/
svg {
	height: 30000px;
	width: 30000px;
	
}

#draw_area {
	height: 100%;
	margin-top: 10px;
	margin-right: 0px;
	overflow: scroll;
}

.level-move-bar {
	width: 100%;
	fill: grey;
}

.level-panel {
	width: 100%;
	fill: white;
	fill-opacity: 0.0;
	stroke-dasharray: 10, 20;
	stroke-width: 8;
	stroke: black;
	stroke-dasharray: 10, 20;
}

#modeller{
	height: 100%;
}

ul {
	list-style-type: none;
}

.list {
	padding: 5px;
	max-height: 300px;
	overflow: auto;
}

h3 {
	font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

li img {
	float: left;
	margin: 0 15px 0 0;
}