<div id="accordion" class="panel-group tab-panel collapsed_area">

	<div class="panel panel-default ">

		<div class="row panel-heading control-panel">
			<h3 class="col-sm-6">Level-Graphs</h3>
			<button class="w3-right w3-theme-l1 btn btn-primary" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" href="#importLevelGraphFieldsArea">
				<i class="fa fa-upload" aria-hidden="true"></i> Import
			</button>
			<button class="w3-right w3-green btn btn-primary" id="createLevelGraph" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" href="#createLevelGraphFieldsArea">
				<i class="fa fa-plus" aria-hidden="true"></i> New
			</button>
		</div>

		<div class="collapse panel-collapse w3-theme-l1 input-panel" id="createLevelGraphFieldsArea">
			<form #createLevelGraphForm="ngForm">
				<div class="col-sm-8 form-group">
					<label for="levelGraphName">Name:</label> <input #levelGraphName #levelGraphName="ngModel" name="name" type="text" class="form-control" id="levelGraphName" [(ngModel)]="createdLevelGraph.name" value="{{createdLevelGraph.name}}" required>
					<div *ngIf="levelGraphName.errors && (levelGraphName.dirty || levelGraphName.touched)" class="alert alert-danger">
						<div [hidden]="!levelGraphName.errors.required">Name is required</div>
					</div>
				</div>

				<div class="col-sm-4 form-group">
					<label for="numberOfLevels">Number of Levels:</label>
					<div>

						<button (click)="removeLevel()">
							<i class="fa fa-minus" aria-hidden="true"></i>
						</button>

						<input #numberOfLevels readonly style="width: 100px" id="number_of_levels" type="number" class="w3-center " value="{{levels}}" min="2">
						<button (click)="addLevel()">
							<i class="fa fa-plus" aria-hidden="true"></i>
						</button>
					</div>
				</div>

				<button type="submit"  [disabled]="!createLevelGraphForm.form.valid" class="btn btn-success" (click)="createLevelGraph(numberOfLevels.value)">Create</button>
			</form>
		</div>

		<div class="collapse panel-collapse w3-theme-l1 input-panel" id="importLevelGraphFieldsArea">
			<form>

				<div class="form-group">
					<label for="file">XML-File: </label> <input class="form-control" #file type="file" ng2FileSelect [uploader]="uploader" />
				</div>

				<button type="submit" class="btn btn-success" (click)="importLevelGraph()">Upload</button>
			</form>
		</div>

	</div>

	<div class="middle_collapse_area col-12-sm w3-responsive w3-theme-l1 table-container">

		<table class="w3-table-all table-striped w3-bordered">

			<thead>
				<tr class="w3-theme-d3">
					<th></th>
					<th>Nr.</th>
					<th>Name</th>
					<th>ID</th>
					<th>Edit</th>
					<th>Export</th>
					<th>Delete</th>
				</tr>
			</thead>

			<tbody>
				<tr *ngFor="let levelGraph of levelGraphs">
					<td routerLink="/dashboard/levelgraphmodeller" [queryParams]="{name: levelGraph.name, id: levelGraph.id}"><i class="fa fa-folder-open-o" aria-hidden="true"></i></td>
					<td routerLink="/dashboard/levelgraphmodeller" [queryParams]="{name: levelGraph.name, id: levelGraph.id}">{{ levelGraphs.indexOf(levelGraph) +1 }}</td>
					<td routerLink="/dashboard/levelgraphmodeller" [queryParams]="{name: levelGraph.name, id: levelGraph.id}">{{ levelGraph.name }}</td>
					<td routerLink="/dashboard/levelgraphmodeller" [queryParams]="{name: levelGraph.name, id: levelGraph.id}">{{ levelGraph.id }}</td>
					<td><button class="w3-blue btn" type="button" data-toggle="modal" data-target="#editLevelGraphModal" (click)="setEditedLevelGraph(levelGraph)">
							<i class="fa fa-pencil" aria-hidden="true"></i>
						</button></td>
					<td><button class=" btn" (click)="exportRepository(levelGraph.id)">
							<i class="fa fa-download" aria-hidden="true"></i>
						</button></td>
					<td><button class="w3-red btn" (click)="deleteLevelGraph(levelGraph.id, $event)">
							<i class="fa fa-trash" aria-hidden="true"></i>
						</button></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="bottom_collapse_area"></div>

</div>



<!-- Modal for Edit Level Graph MetaData-->
<div class="modal fade modal-position" id="editLevelGraphModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class=" w3-theme-l1 modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Edit Repository</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="  input-panel">
				<form>
					<div class="form-group">
						<label for="name">Name: </label> <input #editName type="text" class="form-control" id="name" value="{{editedLevelGraph.name}}" required>
					</div>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" (click)="updateLevelGraph( editName.value)" data-dismiss="modal">Save</button>

				</form>
			</div>
		</div>
	</div>
</div>

