<!-- ProvidedProperty Area -->
<div class="tab-panel rounded">

	<div id="accordion" class="w3-theme-d2 panel-group collapsed_area ">

		<div class="panel panel-default">
			
			<!-- Header -->
			<div class="row panel-heading control-panel">

				<h3 class="col-sm-6">Provided Properties</h3>

				<button class="w3-right w3-green btn" id="createProperty" data-toggle="collapse" data-parent="#accordion" aria-expanded="true"
					href="#createPropertyArea">
					<i class="fa fa-plus" aria-hidden="true"></i> New
				</button>

			</div>
			
			<!-- Input Panel -->
			<div class="collapse panel-collapse w3-theme-l1 input-panel" id="createPropertyArea">
				<form #createNodeTypeForm="ngForm">

					<div class="col-sm-6 form-group">
						<label for="nameProperty">Name: </label> <input #nameProperty="ngModel" name="name" [(ngModel)]="createdProvidedProperty.name" #nameProperty type="text"
							class="form-control" id="nameProperty" value="{{createdProvidedProperty.name}}" required>
						<div *ngIf="nameProperty.errors && (nameProperty.dirty || nameProperty.touched)" class="alert alert-danger">
							<div [hidden]="!nameProperty.errors.required">Name is required</div>

						</div>
					</div>

					<div class="col-sm-6 form-group">

						<label for="valueProperty">Value: </label> <input #valueProperty="ngModel" name="value" [(ngModel)]="createdProvidedProperty.value" #valueProperty type="text"
							class="form-control" id="valueProperty" value="{{createdProvidedProperty.value}}" required>
						<div *ngIf="valueProperty.errors && (valueProperty.dirty || valueProperty.touched)" class="alert alert-danger">
							<div [hidden]="!valueProperty.errors.required">Value is required</div>

						</div>
					</div>
					<button type="submit" class="btn btn-success" [disabled]="!createNodeTypeForm.form.valid" (click)="createProvidedProperty()">Create</button>
				</form>
			</div>

		</div>

		<!-- Data Table -->
		<div class="middle_collapse_area col-12-sm w3-responsive w3-theme-l1 table-container">
			<table class="w3-table-all table-striped w3-bordered">
				<thead>
					<tr class="w3-theme-d3">
						<th class="table-head">Nr.</th>
						<th class="table-head">ID</th>
						<th class="table-head">Name</th>
						<th class="table-head">Value</th>
						<th class="table-head">Edit</th>
						<th class="table-head">Delete</th>
					</tr>
				</thead>

				<tbody>
					<tr *ngFor="let property of entity.providedProperties">
						<td>{{entity.providedProperties.indexOf(property) + 1 }}</td>
					    <td>{{ property.id }}</td>
						<td>{{ property.name }}</td>
						<td>{{ property.value }}</td>
						<td><button type="button" data-toggle="modal" data-target="#editPropertyModal" class="w3-blue btn" (click)="setProvidedProperty(property)">
								<i class="fa fa-pencil" aria-hidden="true"></i>
							</button></td>
						<td><button class="w3-red btn" (click)="deleteProvidedProperty(property.id)">
								<i class="fa fa-trash" aria-hidden="true"></i>
							</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<!-- Modal for Edit Provided Property-->
<div class="modal fade modal-position" id=editPropertyModal tabindex="-1" role="dialog" data-backdrop="true" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class=" w3-theme-l1 modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Edit Provided Property</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="  input-panel">
				<form>
					<div class="col-sm-6 form-group">
						<label for="nameProperty">Name: </label> <input #nameProperty type="text"
							class="form-control" id="nameProperty" value="{{editProvidedProperty.name}}" required>
					</div>

					<div class="col-sm-6 form-group">

						<label for="valueProperty">Value: </label> <input #valueProperty type="text"
							class="form-control" id="valueProperty" value="{{editProvidedProperty.value}}" required>
					</div>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" (click)="updateProvidedProperty(nameProperty.value, valueProperty.value)" data-dismiss="modal">Save</button>

				</form>
			</div>
		</div>
	</div>
</div>