<!-- TopologyTemplateComponent Area -->
<div id="accordion" class="panel-group collapsed_area tab-panel">

	<div class="panel panel-default ">

		<!-- Header -->
		<div class="row panel-heading control-panel">
			<h3 class="col-sm-6">Topology Templates</h3>
			<button class="w3-right w3-green btn btn-primary" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" href="#createTopologyTemplateArea">
				<i class="fa fa-plus" aria-hidden="true"></i> New
			</button>
		</div>

		<!-- Data panel for user input for creating a new TopologyTemplate -->
		<div class="collapse panel-collapse w3-theme-l1 input-panel" id="createTopologyTemplateArea">
			<form #createTopologyTemplateForm="ngForm">
				<div class="col-sm-12 form-group">
					<label for="nameTopologyTemplate">Name:</label> <input #nameTopologyTemplate #nameTopologyTemplate="ngModel" name="name" type="text" [(ngModel)]="createdTopologyTemplate.name" class="form-control" id="nameTopologyTemplate" value="{{createdTopologyTemplate.name}}" required>
					<div *ngIf="nameTopologyTemplate.errors && (nameTopologyTemplate.dirty || nameTopologyTemplate.touched)" class="alert alert-danger">
						<div [hidden]="!nameTopologyTemplate.errors.required">Name is required</div>
					</div>
				</div>

				<button type="submit" class="btn btn-success" [disabled]="!createTopologyTemplateForm.form.valid" (click)="createTopologyTemplate()">Create</button>
			</form>
		</div>

	</div>

	<!-- Data Table -->
	<div class="middle_collapse_area col-12-sm w3-responsive w3-theme-l1 table-container">

		<table class="w3-table-all table-striped w3-bordered">

			<thead>
				<tr class="w3-theme-d3">
					<th class="table-head"></th>
					<th class="table-head">Nr.</th>
					<th class="table-head">Name</th>
					<th class="table-head">ID</th>
					<th class="table-head">Modeller</th>
					<th class="table-head">Edit</th>
					<th class="table-head">Delete</th>
				</tr>
			</thead>

			<tbody>
				<tr *ngFor="let topology of topologyTemplates">
					<td routerLink="/dashboard/topologytemplatedetails" [queryParams]="{id: topology.id}"><i class="fa fa-folder-open-o" aria-hidden="true"></i></td>
					<td routerLink="/dashboard/topologytemplatedetails" [queryParams]="{id: topology.id}">{{ topologyTemplates.indexOf(topology) +1 }}</td>
					<td routerLink="/dashboard/topologytemplatedetails" [queryParams]="{id: topology.id}">{{ topology.name }}</td>
					<td routerLink="/dashboard/topologytemplatedetails" [queryParams]="{id: topology.id}">{{ topology.id }}</td>
					<td><button class="w3-blue btn" type="button" routerLink="/dashboard/topologymodeller" [queryParams]="{name: topology.name, id: topology.id}">Modeller</button></td>
					<td><button class="w3-blue btn" type="button" data-toggle="modal" data-target="#editTopologyTemplateModal" (click)="setEditTopologyTemplate(topology)">
							<i class="fa fa-pencil" aria-hidden="true"></i>
						</button></td>
					<td><button class="w3-red btn" (click)="deleteTopologyTemplate(topology.id)">
							<i class="fa fa-trash" aria-hidden="true"></i>
						</button></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="bottom_collapse_area"></div>

</div>

<!-- Modal for Edit TopologyTemplate -->
<div class="modal fade modal-position" id="editTopologyTemplateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class=" w3-theme-l1 modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Edit Topology Template</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="input-panel">
				<form #editTopologyTemplateForm="ngForm">
					<div class="form-group">

						<label for="editName">Name: </label> <input #editName type="text" name="name" class="form-control" id="editName" value="{{editTopologyTemplate.name}}" required>
						<div *ngIf="editName.errors && (editName.dirty || editName.touched)" class="alert alert-danger">
							<div [hidden]="!editName.errors.required">Name is required</div>
						</div>

					</div>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" [disabled]="!editTopologyTemplateForm.form.valid" (click)="updateTopologyTemplate(editName.value)" data-dismiss="modal">Save</button>

				</form>
			</div>
		</div>
	</div>
</div>

