<!-- RepositoryDetailsComponent Area -->
<div class="dashboard_area">

	<!-- Header -->
	<div class="w3-theme-d4 row panel-heading control-panel">
		<div class="col-sm-6">
			<h2>
				Repository Name: <input disabled style="color: black" value="{{currentRepository.name}}"/>
			</h2>
		</div>
		<div class="col-sm-6">
			<h2>
				Repository ID: <input disabled style="color: black" value="{{currentRepository.id}}"/>
			</h2>
		</div>
	</div>

	<!-- Tab Panel -->
	<div class="data-panel ">

		<!-- Tab Header -->
		<ul class="tabrow nav" role="tablist">
			<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#nodeType" style="color: white" role="tab">Node Type</a></li>
			<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#relationshipType" style="color: white" role="tab">Relationship Type</a></li>
		</ul>

		<!-- Tab Content -->
		<div class="tab-content tab-panel">

			<div id="nodeType" class="rounded tab-pane active" role="tabpanel">
				<!-- Selector for the NodeTypeComponent -->
				<app-nodetype [repository]="currentRepository" [nodeTypes]="currentRepository.nodeTypes"></app-nodetype>
			</div>

			<div id="relationshipType" class="rounded tab-pane " role="tabpanel">
				<!-- Selector for the RelationshipTypeComponent -->
				<app-relationshiptype [repository]="currentRepository" [relationshipTypes]="currentRepository.relationshipTypes"></app-relationshiptype>
			</div>

		</div>
	</div>
</div>
