<div class="tab-panel rounded">

	<div id="accordion" class="w3-theme-d2 panel-group collapsed_area ">

		<div class="panel panel-default">

			<div class="row panel-heading control-panel">

				<h3 class="col-sm-3">Level Graph Node</h3>

			</div>

		</div>

		<div class="middle_collapse_area col-12-sm w3-responsive w3-theme-l1 table-container">
			<table class="w3-table-all table-striped w3-bordered">
				<thead>
					<tr class="w3-theme-d3">
						<th class="table-head"></th>
						<th class="table-head">Nr.</th>
						<th class="table-head">Name</th>
						<th class="table-head">ID</th>
						<th class="table-head">NodeType</th>
						<th class="table-head">NodeType ID</th>
					</tr>
				</thead>

				<tbody>
					<tr routerLink="/dashboard/levelgraphnodedetails" [queryParams]="{name: levelGraphNode.name , id: levelGraphNode.id}" *ngFor="let levelGraphNode of currentLevelGraph.levelGraphNodes">
						<td><i class="fa fa-folder-open-o" aria-hidden="true"></i></td>
						<td>{{ currentLevelGraph.levelGraphNodes.indexOf(levelGraphNode) + 1 }}</td>
						<td>{{ levelGraphNode.name }}</td>
						<td>{{ levelGraphNode.id }}</td>
						<td>{{ levelGraphNode.levelGraphNodeType }}</td>
						<td routerLink="/dashboard/nodetypedetails" [queryParams]="{id: levelGraphNode.levelGraphNodeTypeId}">{{ levelGraphNode.levelGraphNodeTypeId }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>