<div class="tab-panel rounded">

	<div id="accordion" class="w3-theme-d2 panel-group collapsed_area">

		<div class="panel panel-default">

			<div class="row panel-heading control-panel">

				<h3 class="col-sm-4">Relationship Types</h3>

				<button class="w3-right w3-green btn" id="createRelationshipType" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" href="#createRelationshipTypeFieldsArea">
					<i class="fa fa-plus" aria-hidden="true"></i> New
				</button>

			</div>

			<div class="collapse panel-collapse w3-theme-l1 input-panel" id="createRelationshipTypeFieldsArea">
				<form #createRelationshipTypeForm="ngForm">
					<div class="col-sm-6 form-group">
						<label for="relationshipTypeName">Name: </label> <input #relationshipTypeName #relationshipTypeName="ngModel" name="name" type="text" class="form-control" id="relationshipTypeName" [(ngModel)]="relationshipType.name" type="text" class="form-control" value="{{relationshipType.name}}" required>
					</div>
					<div *ngIf="relationshipTypeName.errors && (relationshipTypeName.dirty || relationshipTypeName.touched)" class="alert alert-danger">
						<div [hidden]="!relationshipTypeName.errors.required">Name is required</div>
					</div>
					<div class="col-sm-6 form-group">
						<label for="icon">Icon: </label> <input class="form-control" #icon type="file" ng2FileSelect [uploader]="uploader" />
					</div>
					<button type="submit" [disabled]="!createRelationshipTypeForm.form.valid" class="btn btn-success" (click)="createRelationshipType()">Create</button>
				</form>
			</div>

		</div>

		<div class="middle_collapse_area col-12-sm w3-responsive w3-theme-l1 table-container">
			<table class="w3-table-all table-striped w3-bordered">
				<thead>
					<tr class="w3-theme-d3">
						<th class="table-head"></th>
						<th class="table-head">Nr.</th>
						<th class="table-head">Name</th>
						<th class="table-head">ID</th>
						<th class="table-head">Edit</th>
						<th class="table-head">Export</th>
						<th class="table-head">Delete</th>
					</tr>
				</thead>

				<tbody>
					<tr *ngFor="let relationshipType of currentRepository.relationshipTypeList">
						<td routerLink="/dashboard/relationshiptypedetails" [queryParams]="{name: relationshipType.name , id: relationshipType.id}"><i class="fa fa-folder-open-o" aria-hidden="true"></i></td>
						<td routerLink="/dashboard/relationshiptypedetails" [queryParams]="{name: relationshipType.name , id: relationshipType.id}">{{ currentRepository.relationshipTypeList.indexOf(relationshipType) + 1 }}</td>
						<td routerLink="/dashboard/relationshiptypedetails" [queryParams]="{name: relationshipType.name , id: relationshipType.id}">{{ relationshipType.name }}</td>
						<td routerLink="/dashboard/relationshiptypedetails" [queryParams]="{name: relationshipType.name , id: relationshipType.id}">{{ relationshipType.id }}</td>
						<td><button type="button" data-toggle="modal" data-target="#editRelationshipTypeModal" class="w3-blue btn" (click)="setEditRelationshipType(relationshipType)">
								<i class="fa fa-pencil" aria-hidden="true"></i>
							</button></td>
						<td><button class="btn" (click)="exportRelationshipType(relationshipType.id)">
								<i class="fa fa-download" aria-hidden="true"></i>
							</button></td>
						<td><button class="w3-red btn" (click)="deleteRelationshipType(relationshipType.id)">
								<i class="fa fa-trash" aria-hidden="true"></i>
							</button></td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>
</div>


<!-- Modal for Edit Repository-->
<div class="modal fade modal-position" id="editRelationshipTypeModal" tabindex="-1" role="dialog" data-backdrop="true" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class=" w3-theme-l1 modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Edit Relationship Type</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="  input-panel">
				<form>
					<div class="form-group">
						<label for="name">Name: </label> <input #editName type="text" class="form-control" id="name" value="{{editRelationshipType.name}}" required>
					</div>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" (click)="updateRelationshipType(editName.value)" data-dismiss="modal">Save</button>

				</form>
			</div>
		</div>
	</div>
</div>
