<!-- RepositoryComponent Area -->
<div id="accordion" class="panel-group collapsed_area tab-panel">

	<div class="panel panel-default ">
		
		<!-- Header -->
		<div class="row panel-heading control-panel">
			<h3 class="col-sm-3">Repositories</h3>
			<button class="w3-right w3-green btn btn-primary" id="addRepository" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" href="#addRepositoriesFieldsArea">
				<i class="fa fa-plus" aria-hidden="true"></i> New
			</button>
		</div>

		<!-- Data panel -->
		<div class="collapse panel-collapse w3-theme-l1 input-panel" id="addRepositoriesFieldsArea">
			<form #createRepositoryForm="ngForm">
				<div class="form-group">
					<label for="repositoryName">Name: </label> <input #repositoryName #repositoryName="ngModel" name="name" type="text" class="form-control" id="repositoryName" [(ngModel)]="createdRepository.name" type="text" class="form-control" value="{{createdRepository.name}}" required>
				</div>
				<div *ngIf="repositoryName.errors && (repositoryName.dirty || repositoryName.touched)" class="alert alert-danger">
					<div [hidden]="!repositoryName.errors.required">Name is required</div>
				</div>

				<button type="submit" [disabled]="!createRepositoryForm.form.valid" class="btn btn-success" (click)="createRepository()">Save</button>
			</form>
		</div>

	</div>

	<!-- Data table -->
	<div class="middle_collapse_area col-12-sm w3-responsive w3-theme-l1 table-container">

		<table class="w3-table-all table-striped w3-bordered">

			<thead>
				<tr class="w3-theme-d3">
					<th class="table-head"></th>
					<th class="table-head">Nr.</th>
					<th class="table-head">Name</th>
					<th class="table-head">ID</th>
					<th class="table-head">Edit</th>
					<th class="table-head">Delete</th>
				</tr>
			</thead>

			<tbody>
				<tr  class="height" *ngFor="let repository of repositories">
					<td routerLink="/dashboard/repository" [queryParams]="{id: repository.id}"><i class="fa fa-folder-open-o" aria-hidden="true"></i></td>
					<td routerLink="/dashboard/repository" [queryParams]="{id: repository.id}">{{ repositories.indexOf(repository) +1 }}</td>
					<td routerLink="/dashboard/repository" [queryParams]="{id: repository.id}">{{ repository.name }}</td>
					<td routerLink="/dashboard/repository" [queryParams]="{id: repository.id}">{{ repository.id }}</td>
					<td><button type="button" data-toggle="modal" data-target="#editRepositoryModal" class="w3-blue btn" (click)=setEditRepositoryData(repository)>
							<i class="fa fa-pencil" aria-hidden="true"></i>
						</button></td>
					<td><button class="w3-red btn" (click)="deleteRepository(repository.id, $event)">
							<i class="fa fa-trash" aria-hidden="true"></i>
						</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<!-- Modal for Edit Repository-->
<div class="modal fade modal-position" id="editRepositoryModal" tabindex="-1" role="dialog" data-backdrop="true" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class=" w3-theme-l1 modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Edit Repository</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="  input-panel">
				<form>
					<div class="form-group">
						<label for="name">Name: </label> <input #editName type="text" class="form-control" id="name" value="{{editedRepository.name}}" required>
					</div>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" (click)="updateRepository(editName.value)" data-dismiss="modal">Save</button>
				</form>
			</div>
		</div>
	</div>
</div>
