<div class="dashboard_area">

	<div class="w3-theme-d4 w3-card-4 heading">
		<h2>{{currentRelationshipType.name}} Relationship Type</h2>
	</div>
	<div class="data-panel ">

		<ul class="tabrow nav" role="tablist">
			<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#general" style="color: white" role="tab">General Data</a></li>
			<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#providedproperty" style="color: white" role="tab">Provided Properties</a></li>
<!-- 			<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#expectedproperty" style="color: white" role="tab">Expected Properties</a></li>
 -->		</ul>

		<div class="tab-content  tab-panel">
			<div id="general" class="rounded tab-pane active" role="tabpanel">
				<app-generaldata [currentRelationshipType]="currentRelationshipType"></app-generaldata>
			</div>
			 <div id="providedproperty" class="rounded tab-pane" role="tabpanel">
				<app-providedproperty [entity]="currentRelationshipType"></app-providedproperty>
			</div>
			<!--<div id="expectedproperty" class="rounded tab-pane" role="tabpanel">
				<app-expectedproperty [entity]="currentRelationshipType"></app-expectedproperty>
			</div> -->
		</div>
	</div>
</div>
