<!-- AdministrationComponent -->
<div id="accordion" class="dashboard_area">

	<div class="panel panel-default ">

		<!-- Header -->
		<div class="w3-theme-d4 w3-card-4 heading row heading panel-heading control-panel">
			<h2 class="col-sm-3">Administration</h2>

		</div>

	</div>

	<!-- Tab Data Panel -->
	<div class="data-panel">

		<!-- Tab Header -->
		<ul class="tabrow nav" role="tablist">
			<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#repository" style="color: white" role="tab">Repository</a></li>
			<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#levelGraph" style="color: white" role="tab">Level Graphs</a></li>
			<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#topologyTemplate" style="color: white" role="tab">Topology Templates</a></li>
		</ul>

		<!-- Tab Content -->
		<div class="tab-content tab-panel">

			<div id="repository" class="w3-card-4 rounded tab-pane active" role="tabpanel">
				<!-- Selector for the RepositoryComponent -->
				<app-repository></app-repository>
			</div>

			<div id="levelGraph" class="w3-card-4 rounded tab-pane" role="tabpanel">
				<!-- Selector for the LevelGraphComponent -->
				<app-levelgraph></app-levelgraph>
			</div>

			<div id="topologyTemplate" class="w3-card-4 rounded tab-pane" role="tabpanel">
				<!-- Selector for the TopologyTemplateComponent -->
				<app-topologytemplate></app-topologytemplate>
			</div>

		</div>
	</div>
</div>

