<!-- AdministrationComponent -->
<div id="accordion" class="dashboard_area">

	<div class="panel panel-default ">

		<!-- Header -->
		<div class="w3-theme-d4 w3-card-4 heading row heading panel-heading control-panel">
			<h2 class="col-sm-3">Administration</h2>

			<!-- Export Button-->
			<button class="w3-right w3-theme-l1 btn btn-primary" id="export" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" href="#exportArea">
				<i class="fa fa-download" aria-hidden="true"></i> Export
			</button>

			<!-- Import Button-->
			<button class="w3-right w3-theme-l1 btn btn-primary" id="import" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" href="#importArea">
				<i class="fa fa-upload" aria-hidden="true"></i> Import
			</button>

		</div>

		<!-- Import Control Area -->
		<div class="collapse panel-collapse w3-theme-l1 input-panel" id="importArea">
			<form>

				<div class="form-group">
					<label for="file">XML-File: </label> <input class="form-control" #file type="file" ng2FileSelect [uploader]="uploader" />
				</div>

				<button type="submit" class="btn btn-success" (click)="importXml()">Upload</button>
			</form>
		</div>

		<!-- Export Control Area -->
		<div class="collapse panel-collapse w3-theme-l1 input-panel" id="exportArea">
			<form>

				<!-- <div class="form-group">
					<label for="file">XML-File: </label> <input class="form-control" #file type="file" ng2FileSelect [uploader]="uploader" />
				</div> -->

				<button type="submit" class="btn btn-success" (click)="exportXml()">Download</button>
			</form>
		</div>

	</div>

	<!-- Tab Data Panel -->
	<div class="data-panel">

		<!-- Tab Header -->
		<ul class="tabrow nav" role="tablist">
			<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#repository" style="color: white" role="tab">Repository</a></li>
			<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#levelGraph" style="color: white" role="tab">Level Graph</a></li>
			<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#topologyTemplate" style="color: white" role="tab">Topology Template</a></li>
		</ul>

		<!-- Tab Content -->
		<div class="tab-content tab-panel">

			<div id="repository" class="w3-card-4 rounded tab-pane active" role="tabpanel">
				<!-- Selector for the RepositoryComponent -->
				<app-repository></app-repository>
			</div>

			<div id="levelGraph" class="w3-card-4 rounded tab-pane" role="tabpanel">
				<!-- Selector for the LevelGraphComponent -->
				<app-levelgraph></app-levelgraph>
			</div>

			<div id="topologyTemplate" class="w3-card-4 rounded tab-pane" role="tabpanel">
				<!-- Selector for the TopologyTemplateComponent -->
				<app-topologytemplate></app-topologytemplate>
			</div>

		</div>
	</div>
</div>

